<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>default_505</title>
    <link type="text/css" rel="stylesheet" href="default/css/default.css">
</head>

<body>

<div class="default_A">
    <img src="default/images/default_505.png">
    <img src="default/images/default_binary.gif">
    <img src="default/images/default_shield.png" class="default_shield">
    <img src="default/images/default_star.png" class="default_star_1">
    <img src="default/images/default_star.png" class="default_star_2">
    <img src="default/images/default_star.png" class="default_star_3">
    <h2>505</h2>
    <p>抱歉！服务器出错了，请刷新试试。</p>
</div>

<script type="text/javascript" src="default/js/jquery.min.js"></script>
<script type="text/javascript" src="default/js/login_red.js"></script>
</body>
</html>
