<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>default_overtime</title>
    <link type="text/css" rel="stylesheet" href="default/css/default.css">
</head>

<body>

<div class="default_B">
    <img src="default/images/default_overtime.png">
    <img src="default/images/default_wordG.png" class="default_wordG">
    <img src="default/images/default_wordA.png" class="default_wordA">
    <img src="default/images/default_cloud_1.png" class="default_cloud_1">
    <img src="default/images/default_cloud_2.png" class="default_cloud_2">
    <img src="default/images/default_cloud_3.png" class="default_cloud_3">
    <h2>页面超时</h2>
    <p>一不小心超时啦！请刷新试试</p>
</div>

</body>
</html>
