<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>default_error</title>
    <link type="text/css" rel="stylesheet" href="default/css/default.css">
</head>

<body>

<div class="default_A">
    <img src="default/images/default_error.png">
    <img src="default/images/default_error_2.png" class="default_shield">
    <img src="default/images/default_error_line1.gif">
    <img src="default/images/default_error_line2.gif">
    <img src="default/images/default_star.png" class="default_star_1">
    <img src="default/images/default_star.png" class="default_star_2">
    <img src="default/images/default_star.png" class="default_star_3">
    <h2>系统出错啦！</h2>
    <p>抱歉，请联系系统管理员！</p>
</div>


<script type="text/javascript" src="default/js/jquery.min.js"></script>
<script type="text/javascript" src="default/js/login_red.js"></script>
</body>
</html>
