.idea
*.iml
target/
/logs/
/pmi2-application/service/service-application/logs/
/pmi2-pki-mcs/logs/
/pmi2-sync/sync-application/logs/
/pmi2-webservices/logs/
activemq-data/
/pmi2-services-application/user-events-data
/pmi2-services-application/org-events-data
/pmi2-services-application/certFile
/pmi2-services-application/data
/pmi2-services-application/cacerts
/pmi2-services-application/service
/pmi2-services-application/data/platform/cluster
/pmi2-services-application/logging.path_IS_UNDEFINED

