<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>设计规范</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="src/css/layui.css">
    <style>
        #test10 .file-iteme{
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background: #fff;
            overflow: hidden;

        }
        #test10 .handle {
            position: relative;
            background-color: black;
            color: white;
            filter: alpha(Opacity=80);
            opacity: 0.8;
            width: 100%;
            text-align: right;
            height: 100%;
            margin-bottom: -55.5%;
            display: none;
            z-index: 99;
        }

        #test10 .handle span {
            font-size: 14px;
            margin-left: 4px;
            color: #FFF;
        }
        #test10 .handle .layui-icon-clear{ position: absolute; top: 8px; right: 8px;}

        #test10 .handle span:hover {
            cursor: pointer;
        }
        #test10 .aginupbox{
            padding:80px 0px;
            text-align: center;
            font-size:14px;
        }
        .smallprogress{
            margin:10px auto;
        }
        .progressnum{
            text-align: center;
            margin-top:70px;
        }
        .file-iteme img{ position: absolute; top: 0px; left: 0px;}
    </style>
</head>
<body>

<div class="layui-bg-gray" style="padding: 24px;">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body">

                    <fieldset class="layui-elem-field layui-field-title">
                        <legend>普通图片上传</legend>
                    </fieldset>
                    <p class="layui-elem-p">按钮尺寸与图标按钮一致。上传组件有按钮、预览图、上传进度、上传状态四部分组成。单个内容上传，包括上传中、上传中、上传成功、上传失败三种状态。</p>
                    <div class="layui-upload">
                        <button type="button" class="layui-btn layui-btn-sm layui-btn-icon2" id="test1"><i class="layui-icon layui-icon-upload-drag"></i>单图片上传</button>
                        <div class="layui-upload-list">
                            <img class="layui-upload-img" id="demo1">
                            <p id="demoText"></p>
                        </div>
                        <div style="width: 160px;">
                            <div class="layui-progress layui-progress-big" lay-showpercent="yes" lay-filter="demo">
                                <div class="layui-progress-bar" lay-percent=""></div>
                            </div>
                            <p class="upload_test"></p>
                        </div>
                    </div>

                    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 40px;">
                        <legend>设定文件大小限制</legend>
                    </fieldset>
                    <button type="button" class="layui-btn layui-btn-sm layui-btn-icon2" id="test7"><i class="layui-icon layui-icon-upload-drag"></i>单图片上传</button>
                    <div class="layui-inline layui-word-aux">图片大小不超过50kb</div>

                    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 40px;">
                        <legend>多图片上传</legend>
                    </fieldset>
                    <p class="layui-elem-p">可选多张图片同时上传。</p>
                    <div class="layui-upload">
                        <button type="button" class="layui-btn layui-btn-sm layui-btn-icon2" id="test2"><i class="layui-icon layui-icon-upload-drag"></i>多图片上传</button>
                        <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 8px;">
                            预览图：
                            <div class="layui-upload-list layui-upload-list2" id="demo2"></div>
                        </blockquote>
                    </div>

                    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 40px;">
                        <legend>多文件上传</legend>
                    </fieldset>
                    <p class="layui-elem-p">多文件上传显示文件名、大小、上传进度和操作。上传状态包含：上传中、上传成功、上传失败三种状态。</p>
                    <div class="layui-upload">
                        <button type="button" class="layui-btn layui-btn-sm" id="testList">选择多文件</button>
                        <div class="layui-upload-list">
                            <div style="border: 1px solid #D3D6E2;" class="filelist">
                                <table class="layui-table" style="margin: 0px;" lay-even="">
                                    <!-- <colgroup> -->
                                    <col>
                                    <col width="150">
                                    <col width="260">
                                    <col width="150">
                                    <!-- </colgroup> -->
                                    <thead>
                                    <tr><th>文件名</th>
                                        <th>大小</th>
                                        <th>上传进度</th>
                                        <th>操作</th>
                                    </tr></thead>
                                    <tbody id="demoList"> </tbody>
                                </table>
                            </div>


                        </div>
                        <button type="button" class="layui-btn layui-btn-sm" id="testListAction">开始上传</button>
                    </div>

                    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 40px;">
                        <legend>拖拽上传</legend>
                    </fieldset>
                    <p class="layui-elem-p">未上传时，显示上传按钮，点击弹出文件夹选择文件或拖拽到按钮位之间上传；上传时显示进度条；上传后鼠标hover时，显示重新上传按钮。</p>
                    <div class="layui-upload-drag" id="test10">
                        <i class="layui-icon layui-icon-upload-drag"></i>
                        <p>点击上传，或将文件拖拽到此处</p>
                        <div class="layui-hide" id="uploadDemoView">
                            <hr>
                            <img src="" alt="上传成功后渲染" style="max-width: 196px">
                        </div>
                    </div>





                </div>
            </div>
        </div>
    </div>
</div>

<script src="src/layui.js" charset="utf-8"></script>
<script>
    layui.use(['upload', 'element', 'layer','table','util'], function(){
        var $ = layui.jquery
            ,upload = layui.upload
            ,element = layui.element
            ,layer = layui.layer;
        //常规使用 - 普通图片上传
        var uploadInst = upload.render({
            elem: '#test1'
            ,url: 'https://httpbin.org/post' //此处用的是第三方的 http 请求演示，实际使用时改成您自己的上传接口即可。
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#demo1').attr('src', result); //图片链接（base64）
                });
                $('.upload_test').text('')
                $('.upload_test').css('color','#004EA2')
                $('.layui-progress-bar').css('backgroundColor','#004EA2')
                element.progress('demo', '0%'); //进度条复位
                layer.msg('上传中', {icon: 16, time: 0});
            }
            ,done: function(res){
                //如果上传失败
                if(res.code > 0){
                    $('.upload_test').text('上传失败')
                    $('.upload_test').css('color','#f33f49')
                    $('.layui-progress-bar').css('backgroundColor','#f33f49')
                    return layer.msg('上传失败');
                }
                //上传成功的一些操作
                //……
                $('#demoText').html(''); //置空上传失败的状态
            }
            ,error: function(){
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                $('.upload_test').text('上传失败')
                $('.upload_test').css('color','#f33f49')
                $('.layui-progress-bar').css('backgroundColor','#f33f49')
                demoText.find('.demo-reload').on('click', function(){
                    uploadInst.upload();
                });
            }
            //进度条
            ,progress: function(n, elem, e){
                element.progress('demo', n + '%'); //可配合 layui 进度条元素使用
                $('.upload_test').text('上传中')
                $('.upload_test').css('color','#004EA2')
                if(n == 100){
                    layer.msg('上传完毕', {icon: 1});
                    $('.upload_test').text('上传成功')
                    $('.upload_test').css('color','#72c16b')
                    $('.layui-progress-bar').css('backgroundColor','#72c16b')
                }
            }
        });

        //演示多文件列表
        var uploadListIns = upload.render({
            elem: '#testList'
            ,elemList: $('#demoList') //列表元素对象
            ,url: 'https://httpbin.org/post' //此处用的是第三方的 http 请求演示，实际使用时改成您自己的上传接口即可。
            ,accept: 'file'
            ,multiple: true
            ,number: 3
            ,auto: true
            ,bindAction: '#testListAction'
            ,choose: function(obj){
                var that = this;
                var files = this.files = obj.pushFile(); //将每次选择的文件追加到文件队列
                //读取本地文件
                obj.preview(function(index, file, result){
                    var tr = $(['<tr id="upload-'+ index +'">'
                        ,'<td>'+ file.name +'</td>'
                        ,'<td>'+ (file.size/1014).toFixed(1) +'kb</td>'
                        ,'<td><div class="layui-progress" lay-filter="progress-demo-'+ index +'"><div class="layui-progress-bar" lay-percent=""></div></div></td>'
                        ,'<td>'
                        ,'<button class="layui-btn-text layui-btn-text-warm demo-reload layui-hide">重传</button>'
                        ,'<button class="layui-btn-text layui-btn-text-danger demo-delete">删除</button>'
                        ,'</td>'
                        ,'</tr>'].join(''));

                    //单个重传
                    tr.find('.demo-reload').on('click', function(){
                        obj.upload(index, file);
                    });

                    //删除
                    tr.find('.demo-delete').on('click', function(){
                        delete files[index]; //删除对应的文件
                        tr.remove();
                        uploadListIns.config.elem.next()[0].value = ''; //清空 input file 值，以免删除后出现同名文件不可选
                    });

                    that.elemList.append(tr);
                    element.render('progress'); //渲染新加的进度条组件
                });
            }
            ,done: function(res, index, upload){ //成功的回调
                var that = this;
                //if(res.code == 0){ //上传成功
                var tr = that.elemList.find('tr#upload-'+ index)
                    ,tds = tr.children();
                tds.eq(3).html(''); //清空操作
                console.log(tds.eq(2).children())
                tds.eq(2).children().children().addClass('layui-bg-green');
                delete this.files[index]; //删除文件队列已经上传成功的文件
                return;
                //}
                this.error(index, upload);
            }
            ,allDone: function(obj){ //多文件上传完毕后的状态回调
                console.log(obj)
            }
            ,error: function(index, upload){ //错误回调
                var that = this;
                var tr = that.elemList.find('tr#upload-'+ index)
                    ,tds = tr.children();
                tds.eq(3).find('.demo-reload').removeClass('layui-hide'); //显示重传
                tds.eq(2).children().children().addClass('layui-bg-red');
            }
            ,progress: function(n, elem, e, index){ //注意：index 参数为 layui 2.6.6 新增
                element.progress('progress-demo-'+ index, n + '%'); //执行进度条。n 即为返回的进度百分比
            }
        });

        //多图片上传
        upload.render({
            elem: '#test2'
            ,url: 'https://httpbin.org/post' //此处配置你自己的上传接口即可
            ,multiple: true
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                // obj.preview(function(index, file, result){
                //   $('#demo2').append('<img src="'+ result +'" alt="'+ file.name +'" class="layui-upload-img">')
                // });
            }
            ,done: function(res){
                //上传完毕
                $('#demo2').append(
                    '<div id="" class="file-iteme" style="position:relative;width:120px;height:90px;">' +
                    '<div class="handle" style="z-index:3;"><span class="layui-icon layui-icon-clear"></span></div>' +
                    '<img style="width: 100px;height: 100px;" src='+ res.files.file +'>' +
                    '</div>'
                );
            }
        });
        $(document).on("mouseenter mouseleave", ".file-iteme", function(event){
            if(event.type === "mouseenter"){
                //鼠标悬浮
                console.log($(this))
                $(this).children(".info").fadeIn("fast");
                $(this).children(".handle").fadeIn("fast");
            }else if(event.type === "mouseleave") {
                //鼠标离开
                $(this).children(".info").hide();
                $(this).children(".handle").hide();
            }
        });
        // 删除图片
        $(document).on("click", ".file-iteme .handle", function(event){
            event.stopPropagation();
            $(this).parent().remove();
        });
        //指定允许上传的文件类型
        upload.render({
            elem: '#test3'
            ,url: '' //此处配置你自己的上传接口即可
            ,accept: 'file' //普通文件
            ,done: function(res){
                layer.msg('上传成功');
                console.log(res);
            }
        });
        upload.render({ //允许上传的文件后缀
            elem: '#test4'
            ,url: '' //此处配置你自己的上传接口即可
            ,accept: 'file' //普通文件
            ,exts: 'zip|rar|7z' //只允许上传压缩文件
            ,done: function(res){
                layer.msg('上传成功');
                console.log(res)
            }
        });
        upload.render({
            elem: '#test5'
            ,url: '' //此处配置你自己的上传接口即可
            ,accept: 'video' //视频
            ,done: function(res){
                layer.msg('上传成功');
                console.log(res)
            }
        });
        upload.render({
            elem: '#test6'
            ,url: '' //此处配置你自己的上传接口即可
            ,accept: 'audio' //音频
            ,done: function(res){
                layer.msg('上传成功');
                console.log(res)
            }
        });

        //设定文件大小限制
        upload.render({
            elem: '#test7'
            ,url: '' //此处配置你自己的上传接口即可
            ,size: 50 //限制文件大小，单位 KB
            ,done: function(res){
                layer.msg('上传成功');
                console.log(res)
            }
        });

        //同时绑定多个元素，并将属性设定在元素上
        upload.render({
            elem: '.demoMore'
            ,before: function(){
                layer.tips('接口地址：'+ this.url, this.item, {tips: 1});
            }
            ,done: function(res, index, upload){
                var item = this.item;
                console.log(item); //获取当前触发上传的元素，layui 2.1.0 新增
            }
        })

        //选完文件后不自动上传
        upload.render({
            elem: '#test8'
            ,url: '' //此处配置你自己的上传接口即可
            ,auto: false
            //,multiple: true
            ,bindAction: '#test9'
            ,done: function(res){
                layer.msg('上传成功');
                console.log(res)
            }
        });

        //拖拽上传
        upload.render({
            elem: '#test10'
            ,url: 'https://httpbin.org/post' //此处用的是第三方的 http 请求演示，实际使用时改成您自己的上传接口即可。
            ,done: function(res){
                if($('#test10').has('.file-iteme').length){
                    $('#test10 .file-iteme').html('')
                    $('#test10 .file-iteme').append('<div class="handle"><span class="layui-icon layui-icon-clear"></span><div class="aginupbox"><span class="upicon layui-icon layui-icon-upload-circle"><span class="aginupload">重新上传</span></div></div>' +
                        '<img style="width: 100%;height: 100%;" src='+ res.files.file +'>')
                }else{
                    $('#test10').append(
                        '<div id="" class="file-iteme">' +
                        '<div class="handle" style="z-index:3;"><span class="layui-icon layui-icon-clear"></span><div class="aginupbox"><span class="upicon layui-icon layui-icon-upload-circle"><span class="aginupload">重新上传</span></div></div>' +
                        '<img style="width: 100%;height: 100%;" src='+ res.files.file +'>' +
                        '</div>'
                    );
                }
                $('.aginupbox').on('click', function(){
                    res.upload();
                });
            },progress: function(n, elem, e){
                //可配合 layui 进度条元素使用
                $('#test10').append(
                    `<div class="file-iteme"><p class="progressnum">${n + '%'}</p>` +
                    '<div class="layui-progress smallprogress" lay-showpercent="yes" lay-filter="demo10"><div class="layui-progress-bar" lay-percent=""></div>'+
                    '</div>'
                );
                element.progress('demo10', n + '%');
                // if(n == 100){
                //   layer.msg('上传完毕', {icon: 1});
                // }
            }
        });

        //绑定原始文件域
        upload.render({
            elem: '#test20'
            ,url: '' //此处配置你自己的上传接口即可
            ,done: function(res){
                layer.msg('上传成功');
                console.log(res)
            }
        });

    });
</script>
</body>
</html>
